<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:hsqldb:file:~/RSNSI/RSNSIDB;hsqldb.write_delay=false</property>
        <!--
                <property name="connection.url">jdbc:hsqldb:hsql://localhost/GialloDB</property>
        -->
        <!--Configurazione del DB - DRIVER, DIALETTO SQL, Server location user e pass-->
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="javax.persistence.schema-generation.scripts.create-target"/>
        <property name="hibernate.connection.username">SA</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
        <property name="use_sql_comments">false</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping class="com.nsi.rsni.pojo.NotaSpesa"/>
        <mapping class="com.nsi.rsni.pojo.TipoSpesa"/>
        <mapping class="com.nsi.rsni.pojo.NotaSpesaTipoSpesa"/>

    </session-factory>

</hibernate-configuration>